/* Ryan Yong */
/* Updated March 3, 2023 */

@import url("stolzl/stylesheet.css");

html {
    font-family: 'Stolzl-Thin';
    /* -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: ease-out; */
}

body {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
}

h1 {
    text-align: center;
}

.base {
    background: #1B1C1E;
    padding-top: 5vh;
    color: #ebebed;
}

.tagline {
    text-align: center;
    margin: 5vh auto;
}

.thumb {
    max-height: 30vh;
    max-width: 40vw;
    border-radius: 20px;
}

.clickable {
    z-index: 1;
    transition: .2s;
}

.clickable:hover {
    transform: scale(1.1);
    transition: .2s;
    z-index: 2;
}

.logo {
    max-height: 6vh;
    display: block;
    margin: 0 auto;
    justify-items: center;
    transition: .2s;
    z-index: 1;
}

.logo:hover {
    transform: scale(1.3);
    transition: .2s;
    z-index: 2;
}

a {
    color: #ebebed;
    max-width: fit-content;
}

.navbar {
    display: grid;
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: 100%;

    justify-items: center;
    align-items: center;
    align-content: center;
}

.container-odd {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    margin-bottom: 3vh;
    flex-wrap: wrap;
}

.container-even {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    flex-direction: row-reverse;
    margin-bottom: 3vh;
    flex-wrap: wrap;
}

.sub-container {
    width: 40vw;
    display: grid;
    justify-content: center;
    text-align: left;
}

.contact {
    margin: 0 auto;
    margin-top: 4vh;
    margin-bottom: 3vh;
    display: block;
}

.box {
    margin: 0 auto;
    padding: 0 20px;
    max-width: fit-content;
    border: 5px solid #ebebed;
    border-radius: 20px;
    transition: .2s;
    z-index: 1;
}

.box:hover {
    transform: scale(1.1);
    transition: .2s;
    z-index: 2;
}

.solo-box {
    display: grid;
    justify-content: center;
}

@-webkit-keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 6vw;
    }

    h2 {
        font-size: 4vw;
    }

    h3 {
        font-size: 3vw;
    }

    h4 {
        font-size: 3vw;
    }
  }

/* END OF BASE STYLES */


/* HOME PAGE STYLING */
.home {
    text-align: center;
    padding-top: 5vh;
    color: #ebebed;
}

.careers-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    padding-bottom: 15vh;
    justify-items: center;
    align-items: center;
    align-content: center;
}

#home-bg {
    background: #1B1C1E;
    background-image: url(images/home/me_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    width: 100%;
    height: 100%;
    background-position: center;
    margin: 0;
}

.home-tagline {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

/* ABOUT ME STYLING */


/* SWD STYLING */


/* PHOTOGRAPHY/PROJECTS STYLING */
.photo-container {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vh;
    width: 90%;
}

.photo {
    width: 40vh;
    height: 40vh;
    object-fit: scale-down;
    border-radius: 4px;
}

.photo-thumb {
    width: 40vh;
    height: 40vh;
    object-fit: cover;
    border-radius: 20px;
}

@media screen and (max-width: 800px) {
    .photo-container {
        width: 100%;
    }
}

/* CONTACT ME STYLING */
