/* Ryan Yong
Last updated: 6.15.22 */

/* Import the Quicksand font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

html {
  font-family: 'Quicksand', sans-serif;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  /* height: 100vh;
  width: 100vw; */
}

h1 {
  font-style: italic;
  text-align: center;
}

h2 {
  border-bottom: 2px solid black;
  padding-bottom: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  text-align: center;
}

h3 {
  text-align: center;
}

body {
  text-align: justify;
  margin-left: 25vw;
  margin-right: 25vw;
}

.piccarousel {
  max-width: 90vw;
  margin: auto;
  position: relative;
}

.picback {
  left: 0%;
  cursor: pointer;
  position: absolute;
  top: 46%;
  /* width: auto; */
  color: black;
  font-weight: bold;
  font-size: 4vh;
  transition: .5s ease;
  border-radius: 0 6px 6px 0;
}

.picforward {
  right: 0%;
  cursor: pointer;
  position: absolute;
  top: 46%;
  /* width: auto; */
  color: black;
  font-weight: bold;
  font-size: 4vh;
  transition: .5s ease;
  border-radius: 0 6px 6px 0;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.conch {
  display: none;
}

.nature {
  display: none;
}

.architecture {
  display: none;
}

.dartlib {
  display: none;
}

.thumbnail {
  width: 30vh;
  height: 30vh;
  object-fit: cover;
  margin-top: 40px;
}

.horipic {
  max-width: 85%;
  object-fit: scale-down;
  margin-top: 1vh;
}

.vertpic {
  max-width: 85%;
  max-height: 60vh;
  object-fit: scale-down;
  margin-top: 1vh;
}

.squircle {
  border-radius: 25%;
}

a {
  text-decoration: none;
  color: #0066cc;
}

.topnav {
  background-color: #b3daff;
  padding: 1vh;
  text-align: center;
}

.topnav a {
  color: black;
  padding: 5px 5px;
}

.topnav a.active {
  color: #0066cc;
}

@-webkit-keyframes fade {
  from {opacity: 0}
  to {opacity: 4}
}

@keyframes fade {
  from {opacity: 0}
  to {opacity: 4}
}

@media screen and (max-width: 800px) {
  body {
    margin-left: 10vw;
    margin-right: 10vw;
  }
}